<web-app>

    <filter>
        <filter-name>NewAuthFilter</filter-name>
        <filter-class>ru.job4j.workwithusersservlet.NewAuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>NewAuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>NewUsersServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.NewUsersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewUsersServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewSignin</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.NewSigninController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewSignin</servlet-name>
        <url-pattern>/newsignin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.DeleteUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.AddUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.EditUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.GetUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/GetUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRoleServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.AddRoleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddRoleServlet</servlet-name>
        <url-pattern>/AddRoleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRoleServlet</servlet-name>
        <servlet-class>ru.job4j.workwithusersservlet.DeleteRoleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteRoleServlet</servlet-name>
        <url-pattern>/DeleteRoleServlet</url-pattern>
    </servlet-mapping>

</web-app>