<web-app>

    <servlet>
        <!--<servlet-name>EchoServlet</servlet-name>-->
        <!--<servlet-class>ru.job4j.parsentev.servlets.EchoServlet</servlet-class>-->
        <servlet-name>Users Controller Servlet</servlet-name>
        <servlet-class>ru.job4j.parsentev.servlets.UsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <!--<servlet-name>EchoServlet</servlet-name>-->
        <!--<url-pattern>/echo</url-pattern>-->
        <servlet-name>Users Controller Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>